# Project: Kayak

In [14]:
!pip install psycopg2-binary # most popular PostgreSQL database adapter for the Python programming language

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.8/site-packages (2.9.1)

In [15]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [16]:
# import csv files created previously
results_cities = pd.read_csv('results_cities_to_visit.csv')  
hotels = pd.read_csv('Hotels2.csv',lineterminator='\n')

In [17]:
# Display headers 
results_cities.head()

,ville_id,nom,latitude,longitude,meteo,proba_pluie,jour_temperature,rang
0,20,Avignon,43.949249,4.805901,Clouds,0.5957,26.05,1
1,22,Nimes,43.837425,4.360069,Clouds,2.6465,26.17,2
2,15,Lyon,45.757814,4.832011,Rain,2.9370,19.72,3
3,21,Uzes,44.012128,4.419672,Clouds,3.5270,25.75,4
4,24,Saintes Maries de la mer,43.452277,4.428717,Clouds,3.6753,22.72,5

In [18]:
hotels.head()

,ville_id,ville_nom,hotel_id,url,latitude,longitude,score,description,name
0,5,Paris,0,https://www.booking.com/hotel/fr/tour-eiffel.e...,48.855604,2.292562,8.3,The 4-star hotel Pullman Paris Tour Eiffel is ...,Pullman Paris Tour Eiffel
1,5,Paris,1,https://www.booking.com/hotel/fr/hyatt-regency...,48.880410,2.284727,8.4,"Hyatt Regency Paris Etoile, formerly the renow...",Hyatt Regency Paris Etoile
2,5,Paris,2,https://www.booking.com/hotel/fr/la-clef-champ...,48.870447,2.299439,8.9,"Conveniently set in the centre of Paris, La Cl...",La Clef Champs-Élysées Paris by The Crest Coll...
3,5,Paris,3,https://www.booking.com/hotel/fr/citizenm-pari...,48.843726,2.371727,8.6,The citizenM Paris Gare de Lyon is set in the ...,citizenM Paris Gare de Lyon
4,5,Paris,4,https://www.booking.com/hotel/fr/citadines-apa...,48.860593,2.347084,8.1,Citadines Les Halles Paris is located in Paris...,Citadines Les Halles Paris

# Create and configure a RDS instance in your AWS account

# Use SQLAlchemy to create an engine that is connected to the remote database:

In [8]:
# Replace HOSTNAME by AWS RDS Endpoint, USERNAME and PASSWORD by its credentials
engine = create_engine("postgresql+psycopg2://USERNAME:PASSWORD@HOSTNAME/postgres", echo=True)

# Create two tables in your remote database : `results_cities` and `hotels`, each one containing the information from the different `.csv` files you saved last time.

In [ ]:
results_cities.to_sql("results_cities", engine)
hotels.to_sql("hotels", engine)

 # Use SQL syntax to make a request that will help you get the list of the 30 best places to go

In [ ]:
selection = "SELECT nom, meteo, jour_temperature, hotels.name, description, score, url \
             FROM results_cities \
             INNER JOIN hotels \
             ON result_cities.ville_id = hotels.ville_id \
             WHERE rank=1 AND score IS NOT NULL \
             ORDER BY score DESC \
             LIMIT 30"

best_places = pd.read_sql(selection, engine)

In [ ]:
display(best_places)

In [ ]:
!pip install plotly

In [ ]:
import plotly.express as px

In [ ]:
#Plot the results
fig = px.scatter_mapbox(data, lat="latitude", lon="longitude", color="ville_nom", size='score', zoom=10, mapbox_style="carto-positron")
fig.show('iframe')